{% extends '../base.html' %}

{% block main %}
<div>
    <h1>Login</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{signup_form.as_table}}
        <button>Signup</button>
    </form>
</div>
{% endblock main %}
