{% extends '../base.html' %}

{% block main %}
<div>
    <h1>Create a new task</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {{task_form.as_table}}
        <button>Create</button>
    </form>
</div>
{% endblock main %}
